<div title="Изменить пароль">
    <input type="text" style="display:none;" id="modelStateCount" value="@this.ViewData.ModelState.Values.Select(v=>v.Errors.Count).Sum()" name="modelStateCount" />
    <div class="contenthead">
        <h2>@Model.ToString() </h2>
    </div>
    
    @Html.ValidationSummary()
    @using(Html.BeginForm()){
        @Html.AntiForgeryToken()
        <div class="validationsummary hidden"></div>
        <div class="form-body">
            @Html.EditorForModel()
        </div>
        <div class="form-bottom btn-right">
            <a href="#" class="fancybox-close button">Закрыть</a>
            <input type="submit" value="Сохранить" class="button" />
        </div>
    }
</div>
